:root {
  --primary-color: rgb(20, 20, 20);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}

.container h1 {
  margin-bottom: 1em;
}

.container .relogio {
  margin-bottom: 0.5em;
}

.container button {
  background-color: rgb(75, 75, 75);
  border: none;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  color: #fff;
}

.container .iniciar:hover {
  background-color: green;
}

.container .pausar:hover {
  background-color: red;
}

.container .zerar:hover {
  background-color: white;
  color: var(--primary-color);
}


.relogio {
  display: flex;
  align-items: center;
  font-size: 3em;
}

.relogio p {
  margin: 10px 0;
  font-size: 90px;
}

@media only screen and (max-width:400px) {
  .relogio p {
    font-size: 60px;
  }
}
